<title>{{ page.title }}</title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="theme-color" content="#32a7de" />

<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
<link href="{{ site.url }}/img/icon.png" rel="icon" type="image/png" />
<link href="{{ site.url }}/css/desktop.css" media="(min-width: 800px)" rel="stylesheet" type="text/css" />
<link href="{{ site.url }}/css/mobile.css" media="(max-width: 799px)" rel="stylesheet" type="text/css" />